
td,
th {
    padding: 4px 6px;
    text-align: left;
}

td:first-child,th:first-child {
    border-top-left-radius: 25px;
}

td:first-child,th:first-child {
    border-bottom-left-radius: 25px;
}

td:last-child,th:last-child {
    border-top-right-radius: 25px;
}

td:last-child,th:last-child {
    border-bottom-right-radius: 25px;
}